.selected {
    color: black;
    background: gray;
}

.btn:focus {
    box-shadow: none !important;
}

.close:focus {
    outline: none !important;
}

tr {
    text-align: center;
}

td:hover {
    cursor: pointer;
}